@use "./utilities/index" as *;

.bar {
  color: var(--black-color);
  background-color: var(--light-grey-color);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
  }

  &__separator {
    width: 1px;
    height: 34px;
    background-color: #e9e9e9;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 26px;

    &-office {
      display: flex;
      align-items: center;
      gap: 12px;
      p {
        @include bodyS();
      }
      a {
        @include bodyM();
        font-weight: 600;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    &-menu {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  &__menu {
    &-link {
      @include bodyS();
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.nav {
  position: relative;
  color: var(--black-color);
  background-color: var(--white-color);
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0;
  }

  &__submenu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--white-color);
    padding: 44px 0;
    border-top: 1px solid #e9e9e9;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.3s ease-in-out;

    &-list {
      max-width: 1488px;
      width: 100%;
      margin: 0 auto;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
    }

    &-item {
      max-width: 330px;
      padding: 12px;
      border-radius: 4px;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: var(--light-grey-color);
      }
    }

    &-name {
      color: var(--blue-color);
      @include heading6();
      font-weight: 700;
    }

    &-desc {
      color: var(--grey-text);
      color: #4c4c4c;
      font-size: 12px;
      line-height: 20px;
    }

    // &:hover {
    //   opacity: 1;
    //   visibility: visible;
    // }
  }

  &__left {
    display: flex;
    align-items: center;
    &-logo {
      padding-right: 42px;
      font-size: 40px;
      line-height: 30px;
      font-weight: 700;
      color: var(--blue-color);
    }

    &-drop {
      display: flex;
      align-items: center;
      gap: 18px;
      padding: 28px 44px;
      cursor: pointer;
      border-left: 1px solid #e9e9e9;
      border-right: 1px solid #e9e9e9;

      svg {
        transition: transform 0.3s ease-in-out;
      }

      &:hover .nav__submenu {
        opacity: 1;
        visibility: visible;
      }

      &:hover {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      gap: 28px;
      padding-left: 42px;
    }
  }

  &__right {
  }

  &__account {
    display: flex;
    gap: 12px;
    padding: 28px 0 28px 42px;
    border-left: 1px solid #e9e9e9;

    svg {
      cursor: pointer;
    }
    svg path {
      transition: fill 0.3s ease-in-out;

      &:hover {
        fill: var(--primary-color);
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    &-link {
      @include bodyM();
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
